.selectContainer{
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    /* width: fit-content; */
}
.filters{
    background: transparent;
    margin: 5px 5px;
    padding: 5px 5px;
    font-size: large;
    color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 5px;
}

option{
    color: black;
}
.lista{
    width: 100%;
    height: auto;
    display: flex !important; 
    flex-wrap: wrap;
}